<template>
    <div>
        <p v-for="message in messages">{{ message }}</p>
        <input v-model="text">
        <button @click="postMessage" :disabled="!contentExists">submit</button>
    </div>
</template>

<script>
    export default {
        name: "ChatBox",
        data() {
            return {
                text: '',
                messages: []
            }
        },
        computed: {
            contentExists() {
                return this.text.length > 0;
            }
        },
        methods: {
            postMessage() {
                axios.post('/messages/store', {message: this.text}).then(({data}) => {
                    this.messages.push(data);
                    this.text = '';
                });
            }
        },
        created() {
            axios.get('/messages/get').then(({data}) => {
                this.messages = data;
            });

            Echo.channel('public').listen('MessageSent', ({message}) => {
                this.messages.push(message);
            });
        }
    }
</script>

<style scoped>

</style>